body{
    background-color: #0c32f0;
    text-align: center;
}

.navbar {
    background-color: #05060a;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #0c32f0;
  }

.container {
    background-color: #b7b7c7;
}